* {
	padding: 0px;
	margin: 0px;
}

.lock {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body {
	background-color: #d084b5;
}

img {
	position: absolute;
	width: 256px;
	height: 256px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
